{% extends 'bootstrap/base.html' %}

{% raw %} 
This is the base jinja template that defines the common html and assets across the website. 
All jinja templates for other pages of the website extend from this one.

This template is architected in accordance with the requirements of flask-bootstrap templates, 
and defines content via its predefined macros of title, styles, navbar, and content.

To define a new template that extends base.html, it must begin with {percentage extends "base.html" percentage}
Content may be placed inside { percentage block app_content percentage} {percentage endblock percentage} template tags.

Since base.html extends from a flask-bootstrap template, adding custom stylesheets and javascript must 
be done according to flask-bootstrap's requirements specified in the docs at
https://pythonhosted.org/Flask-Bootstrap/basic-usage.html.
{% endraw %}

{% block title %}
    Thinking Queerly Timelines
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='u-styles.css')}}">
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Thinking Queerly Timeline</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Admin Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('admin_panel') }}">Admin Panel</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% raw %} The only content that is universal across pages is the flash bar, 
    that displays error and success messages. {% endraw %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# {% raw %} application content needs to be provided in the app_content block {% endraw %} #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
