{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% raw %} 
    Template for the page via which workshop participants contribute post-its to a timeline. 
    Must be rendered with the following variables 
        session: a database model objct of type WorkshopActivity
        form: FlaskForm of type ContributeToTimelineYearlong, 
            or ContributeToTimelineLifelong (indicated by the value of session.unit_is_year).
{% endraw %}

{% block app_content %}
<h1>{{session.question}} </h1>
<h2>{{session.name}}</h2>
<h3>{{session.date.strftime('%B %e, %Y')}}</h3>
<h4>
    View the timeline contributions <a href="{{url_for('session_id_view', session_str=session.unique_str)}}">here.</a>
</h4><br>
<div class="container">
    <div class="row">
        {% if session.active %}
        <form class="form form-horizontal form-group" action="" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {% for child in form.submissions %}
                {{ child.hidden_tag() }}
                <div class="panel col-sm-4 col-sm-offset-1">
                    {% for field in child if field.widget.input_type != 'hidden' %}
                        {{ wtf.form_field(field) }}
                    {% endfor %}
                </div>
            {% endfor %}  
            <div class="col-sm-4 col-sm-offset-1">
                {{form.submit()}}
            </div>
        </form>
        {% else %}
        This timeline is currently closed for submissions. Contact QuOffice staff if you think this is a mistake.
        {% endif %}
    </div>
</div>

{% endblock %}
