{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='timeline-styles.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='timeline.js')}}"></script>
{{super()}}
{% endblock %}


<!-- needs posts, session, and is_yearlong -->
{% block app_content %}
<h1>{{session.question}} </h1>
<h2>{{session.name}}</h2>
<h3>{{session.date.strftime('%B %e, %Y')}}</h3>

<section class="timeline">
    <!-- <div class="entries"> -->
    <ol>
        {% for post in posts %}
            <li>
            <div {% if post.on_sex %} class="onsex" {% endif %}>
            <!-- <div class="entry"> -->
                <time>
                <!-- <div class="title"> -->
                    {% if is_yearlong %}
                        {{post.mdytimestamp}}
                    {% else %}
                        {{post.year_timestamp}}
                    {% endif %}
                </time>
                <!-- </div> -->
                <!-- <div class="body"> -->
                    <p>{{post.body}}</p>
                <!-- </div> -->
            </div>
        </li>
        {% endfor %}
        <li></li>        
    </ol>
    <!-- </div> -->
    <div class="arrows">
        <button class="arrow arrow__prev disabled" disabled>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
        </button>
        <button class="arrow arrow__next">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
        </button>
    </div>
</section>
{% endblock %}
